{{#each children as |ch|}}
  <li class="outline-menu--item">
    {{#link-to 'db.list' dbwrap (query-params node=ch.slug)}}
      ยง{{ch.indices}} {{ch.title}}
    {{/link-to}}
    {{#if ch.prologue}}<p>{{ch.prologue}}</p>{{/if}}
    {{#if ch.children}}
      {{outline-menu dbwrap=dbwrap depthLimit=ch.depthLimit outlineNodes=ch.children}}
    {{/if}}
  </li>
{{/each}}
