hr.inference-rule--inferencebreak {
  border-color: #bbb;
  margin: 2px 8px 2px 8px;
}

.inference-rule--container {
  display: inline-block;
  text-align: center;
  margin: 0px -8px 0px -8px;
}

.inference-rule--hypothesis, .inference-rule--assertion, .inference-rule--assertiononly {
  display: inline-block;
  margin: 1px 8px 1px 8px;
  text-align: left;
  background-color: #f7f7f7;
  padding: 0 2px 0 22px;
  text-indent: -20px;
  border-radius: 4px;
}

.math-string--subexp--clicked {
  background-color: #d0d0d0;
}

/* suppress Bootstrap code styling since we want it on the inline-block wrapper */
.inference-rule--container code {
  padding: 0px;
  color: #333;
  background-color: initial;
}

.statementlist--labelcol {
  width: 20%;
}

@media (min-width: 992px) { /* TODO: use less variable */
.statementlist--labelcol {
  width: 10%;
}
}

.statementlist--assertcol {
  width: 40%;
  text-align: center;
}

.statementlist--commentcol {
  width: 40%;
}

.statementlist--table {
  table-layout: fixed;
}

.statementlist--assertbox {
  text-align: center;
}

.application--footer {
  margin-top: 10em;
}

.statement-list-subheading--header {
  margin-top: 50px;
}
.statement-list-subheading--header--chosen {
  color: #a00;
  border-bottom: 1px solid;
}
