hr.inference-rule--inferencebreak {
  margin: 2px;
  border-color: #bbb;
}

.inference-rule--hypothesis, .inference-rule--assertion, .inference-rule--assertiononly {
  margin-left: 3em;
  text-indent: -3em;
}

.statementlist--labelcol {
  width: 20%;
}

@media (min-width: 992px) { /* TODO: use less variable */
.statementlist--labelcol {
  width: 10%;
}

.statementlist--assertcol {
  width: 40%;
}

.statementlist--commentcol {
  width: 40%;
}

.statementlist--table {
  table-layout: fixed;
}

.application--footer {
  margin-top: 10em;
}
