<nav role="navigation" class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".smm-navbar" class="navbar-toggle collapsed" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}<i>S</i>MM{{/link-to}}
    </div>
    <div class="collapse navbar-collapse smm-navbar">
      <ul class="nav navbar-nav">
        {{#if databaseModel}}
          <li class="active">{{link-to databaseModel.title 'db.list' databaseModel}}</li>
        {{else}}
          <p class="navbar-text">No database selected</p>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
